<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Meadowlark</title>
</head>
<body>
  <header>
    <img src="/img/logo.png" alt="Meadowlark Travel Logo">
  </header>
  {{{body}}}
</body>
</html>
